In [79]:
import pandas as pd
import seaborn as sns
import statistics as stats

In [80]:
dataset = pd.read_csv("../data/tempo.csv", sep=";")

dataset

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70      NaN       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6      menos           64     65.0  VERDADEIRO   sim
7        sol         1220     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75    200.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [81]:
dataset["Aparencia"].describe()

count      14
unique      4
top       sol
freq        5
Name: Aparencia, dtype: object

In [82]:
dataset.loc[dataset["Aparencia"].isna()]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [83]:
dataset.groupby("Aparencia").size()

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [84]:
dataset["Aparencia"].unique()

array(['sol', 'nublado', 'chuva', 'menos'], dtype=object)

In [85]:
dataset.loc[dataset["Aparencia"] == "menos", "Aparencia"] = "sol"

dataset.groupby("Aparencia").size()

Aparencia
chuva      5
nublado    3
sol        6
dtype: int64

In [86]:
dataset.loc[dataset["Temperatura"].isna()]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [87]:
dataset["Temperatura"].describe()

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperatura, dtype: float64

In [88]:
temperatureMedian = int(stats.median(dataset["Temperatura"]))

temperatureMedian

73

In [89]:
dataset.loc[
    (dataset["Temperatura"] < -130) | (dataset["Temperatura"] > 130), "Temperatura"
] = temperatureMedian

dataset["Temperatura"].describe()

count    14.000000
mean     73.642857
std       6.558695
min      64.000000
25%      69.250000
50%      72.500000
75%      78.750000
max      85.000000
Name: Temperatura, dtype: float64

In [90]:
dataset["Umidade"].describe()

count     13.000000
mean      89.769231
std       34.540203
min       65.000000
25%       70.000000
50%       85.000000
75%       90.000000
max      200.000000
Name: Umidade, dtype: float64

In [91]:
dataset.loc[dataset["Umidade"].isna()]

  Aparencia  Temperatura  Umidade  Vento Jogar
3     chuva           70      NaN  FALSO   sim

In [92]:
humidityMedian = stats.median(dataset["Umidade"])

humidityMedian

85.5

In [93]:
dataset.loc[dataset["Umidade"].isna(), "Umidade"] = humidityMedian

dataset.loc[dataset["Umidade"].isna()]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [94]:
dataset.loc[(dataset["Umidade"] < 0) | (dataset["Umidade"] > 100), "Umidade"] = (
    humidityMedian
)

dataset["Umidade"].describe()

count    14.000000
mean     81.285714
std       9.585073
min      65.000000
25%      71.250000
50%      85.250000
75%      89.000000
max      95.000000
Name: Umidade, dtype: float64

In [95]:
dataset["Vento"].describe()

count        13
unique        2
top       FALSO
freq          7
Name: Vento, dtype: object

In [96]:
dataset.groupby("Vento").size()

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [97]:
dataset.loc[dataset["Vento"].isna()]

  Aparencia  Temperatura  Umidade Vento Jogar
9     chuva           75     85.5   NaN   sim

In [98]:
dataset["Vento"].fillna(dataset["Vento"].mode()[0], inplace=True)

dataset.loc[dataset["Vento"].isna()]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [99]:
dataset.groupby("Vento").size()

Vento
FALSO         8
VERDADEIRO    6
dtype: int64

In [100]:
dataset["Jogar"].describe()

count      14
unique      2
top       sim
freq        9
Name: Jogar, dtype: object

In [101]:
dataset.groupby("Jogar").size()

Jogar
nao    5
sim    9
dtype: int64

In [102]:
dataset.loc[dataset["Jogar"].isna()]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []