In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.feature_selection import chi2, SelectKBest

In [2]:
ad_data = pd.read_csv('data/ad.data', header=None, low_memory=False)

ad_data.shape

(3279, 1559)

In [3]:
ad_data.head()

,0,1,2,3,4,5,6,7,8,9,...,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558
0,125,125,1.0000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
1,57,468,8.2105,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
2,33,230,6.9696,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
3,60,468,7.8000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
4,60,468,7.8000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.

In [4]:
X = ad_data.iloc[:, :-1].replace({'?': 0}).values
y = ad_data.iloc[:, -1].values

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [6]:
model1 = GaussianNB()
model1.fit(X_train, y_train)
y_pred = model1.predict(X_test)
accuracy_score(y_test, y_pred)

0.7764227642276422

In [7]:
selection_att = SelectKBest(chi2, k=5)
X_train_selected = selection_att.fit_transform(X, y)
X_train_selected.shape

(3279, 5)

In [8]:
print(selection_att.get_support())

[ True  True False ... False False False]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X_train_selected, y, test_size=0.3, random_state=0)

model2 = GaussianNB()
model2.fit(X_train, y_train)
y_pred = model2.predict(X_test)
accuracy_score(y_test, y_pred)

0.9491869918699187