In [4]:
# install.packages("mltools")
library(mltools)
library(data.table)

In [5]:
Titanic

, , Age = Child, Survived = No

      Sex
Class  Male Female
  1st     0      0
  2nd     0      0
  3rd    35     17
  Crew    0      0

, , Age = Adult, Survived = No

      Sex
Class  Male Female
  1st   118      4
  2nd   154     13
  3rd   387     89
  Crew  670      3

, , Age = Child, Survived = Yes

      Sex
Class  Male Female
  1st     5      1
  2nd    11     13
  3rd    13     14
  Crew    0      0

, , Age = Adult, Survived = Yes

      Sex
Class  Male Female
  1st    57    140
  2nd    14     80
  3rd    75     76
  Crew  192     20

In [6]:
tit <- as.data.frame(Titanic)
head(tit, 10)

   Class Sex    Age   Survived Freq
1  1st   Male   Child No         0
2  2nd   Male   Child No         0
3  3rd   Male   Child No        35
4  Crew  Male   Child No         0
5  1st   Female Child No         0
6  2nd   Female Child No         0
7  3rd   Female Child No        17
8  Crew  Female Child No         0
9  1st   Male   Adult No       118
10 2nd   Male   Adult No       154

In [7]:
labenc <- data.matrix(tit[, 1:3])
head(labenc, 10)

      Class Sex Age
 [1,] 1     1   1
 [2,] 2     1   1
 [3,] 3     1   1
 [4,] 4     1   1
 [5,] 1     2   1
 [6,] 2     2   1
 [7,] 3     2   1
 [8,] 4     2   1
 [9,] 1     1   2
[10,] 2     1   2

In [9]:
# 
hotenco <- one_hot(as.data.table(tit[, 1:3]))
hotenco

   Class_1st Class_2nd Class_3rd Class_Crew Sex_Male Sex_Female Age_Child
1  1         0         0         0          1        0          1
2  0         1         0         0          1        0          1
3  0         0         1         0          1        0          1
4  0         0         0         1          1        0          1
5  1         0         0         0          0        1          1
6  0         1         0         0          0        1          1
7  0         0         1         0          0        1          1
8  0         0         0         1          0        1          1
9  1         0         0         0          1        0          0
10 0         1         0         0          1        0          0
11 0         0         1         0          1        0          0
12 0         0         0         1          1        0          0
13 1         0         0         0          0        1          0
14 0         1         0         0          0        1          0
15 0         0         1         0          0        1          0
16 0         0         0         1          0        1          0
17 1         0         0         0          1        0          1
18 0         1         0         0          1        0          1
19 0         0         1         0          1        0          1
20 0         0         0         1          1        0          1
21 1         0         0         0          0        1          1
22 0         1         0         0          0        1          1
23 0         0         1         0          0        1          1
24 0         0         0         1          0        1          1
25 1         0         0         0          1        0          0
26 0         1         0         0          1        0          0
27 0         0         1         0          1        0          0
28 0         0         0         1          1        0          0
29 1         0         0         0          0        1          0
30 0         1         0         0          0        1          0
31 0         0         1         0          0        1          0
32 0         0         0         1          0        1          0
   Age_Adult
1  0
2  0
3  0
4  0
5  0
6  0
7  0
8  0
9  1
10 1
11 1
12 1
13 1
14 1
15 1
16 1
17 0
18 0
19 0
20 0
21 0
22 0
23 0
24 0
25 1
26 1
27 1
28 1
29 1
30 1
31 1
32 1