In [69]:
data_frame <- read.csv(
    "../data/tempo.csv",
    sep = ";",
    na.strings = "",
    stringsAsFactors = TRUE
)

data_frame

   Aparencia Temperatura Umidade Vento      Jogar
1  sol         85         85     FALSO      nao
2  sol         80         90     VERDADEIRO nao
3  nublado     83         86     FALSO      sim
4  chuva       70         NA     FALSO      sim
5  chuva       68         80     FALSO      sim
6  chuva       65         70     VERDADEIRO nao
7  menos       64         65     VERDADEIRO sim
8  sol       1220         95     FALSO      nao
9  sol         69         70     FALSO      sim
10 chuva       75        200     NA         sim
11 sol         75         70     VERDADEIRO sim
12 nublado     72         90     VERDADEIRO sim
13 nublado     81         75     FALSO      sim
14 chuva       71         91     VERDADEIRO nao

In [70]:
unique(data_frame$Aparencia)
summary(data_frame$Aparencia)
data_frame[is.na(data_frame$Aparencia), ]

data_frame[!data_frame$Aparencia %in% c("sol", "nublado", "chuva"), ]$Aparencia <- "sol"

data_frame

[1] sol     nublado chuva   menos
Levels: chuva menos nublado sol

  chuva   menos nublado     sol
      5       1       3       5

     Aparencia Temperatura Umidade Vento Jogar

   Aparencia Temperatura Umidade Vento      Jogar
1  sol         85         85     FALSO      nao
2  sol         80         90     VERDADEIRO nao
3  nublado     83         86     FALSO      sim
4  chuva       70         NA     FALSO      sim
5  chuva       68         80     FALSO      sim
6  chuva       65         70     VERDADEIRO nao
7  sol         64         65     VERDADEIRO sim
8  sol       1220         95     FALSO      nao
9  sol         69         70     FALSO      sim
10 chuva       75        200     NA         sim
11 sol         75         70     VERDADEIRO sim
12 nublado     72         90     VERDADEIRO sim
13 nublado     81         75     FALSO      sim
14 chuva       71         91     VERDADEIRO nao

In [71]:
unique(data_frame$Temperatura)
summary(data_frame$Temperatura)
data_frame[is.na(data_frame$Temperatura), ]

data_frame[data_frame$Temperatura < -130 | data_frame$Temperatura > 130, ]$Temperatura <- median(data_frame$Temperatura)

data_frame

 [1]   85   80   83   70   68   65   64 1220   69   75   72   81   71

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  64.00   69.25   73.50  155.57   80.75 1220.00

     Aparencia Temperatura Umidade Vento Jogar

   Aparencia Temperatura Umidade Vento      Jogar
1  sol       85.0         85     FALSO      nao
2  sol       80.0         90     VERDADEIRO nao
3  nublado   83.0         86     FALSO      sim
4  chuva     70.0         NA     FALSO      sim
5  chuva     68.0         80     FALSO      sim
6  chuva     65.0         70     VERDADEIRO nao
7  sol       64.0         65     VERDADEIRO sim
8  sol       73.5         95     FALSO      nao
9  sol       69.0         70     FALSO      sim
10 chuva     75.0        200     NA         sim
11 sol       75.0         70     VERDADEIRO sim
12 nublado   72.0         90     VERDADEIRO sim
13 nublado   81.0         75     FALSO      sim
14 chuva     71.0         91     VERDADEIRO nao

In [72]:
unique(data_frame$Umidade)
summary(data_frame$Umidade)
data_frame[is.na(data_frame$Umidade), ]

median(data_frame$Umidade, na.rm = TRUE)

data_frame[is.na(data_frame$Umidade), ]$Umidade <- median(data_frame$Umidade, na.rm = TRUE)

data_frame[data_frame$Umidade < 0 | data_frame$Umidade > 100, ]$Umidade <- median(data_frame$Umidade)

data_frame

 [1]  85  90  86  NA  80  70  65  95 200  75  91

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
  65.00   70.00   85.00   89.77   90.00  200.00       1

  Aparencia Temperatura Umidade Vento Jogar
4 chuva     70          NA      FALSO sim

[1] 85

   Aparencia Temperatura Umidade Vento      Jogar
1  sol       85.0        85      FALSO      nao
2  sol       80.0        90      VERDADEIRO nao
3  nublado   83.0        86      FALSO      sim
4  chuva     70.0        85      FALSO      sim
5  chuva     68.0        80      FALSO      sim
6  chuva     65.0        70      VERDADEIRO nao
7  sol       64.0        65      VERDADEIRO sim
8  sol       73.5        95      FALSO      nao
9  sol       69.0        70      FALSO      sim
10 chuva     75.0        85      NA         sim
11 sol       75.0        70      VERDADEIRO sim
12 nublado   72.0        90      VERDADEIRO sim
13 nublado   81.0        75      FALSO      sim
14 chuva     71.0        91      VERDADEIRO nao

In [75]:
unique(data_frame$Vento)
summary(data_frame$Vento)
data_frame[is.na(data_frame$Vento), ]

data_frame[is.na(data_frame$Vento), ]$Vento <- "FALSO"

data_frame

[1] FALSO      VERDADEIRO <NA>
Levels: FALSO VERDADEIRO

     FALSO VERDADEIRO       NA's
         7          6          1

   Aparencia Temperatura Umidade Vento Jogar
10 chuva     75          85      NA    sim

   Aparencia Temperatura Umidade Vento      Jogar
1  sol       85.0        85      FALSO      nao
2  sol       80.0        90      VERDADEIRO nao
3  nublado   83.0        86      FALSO      sim
4  chuva     70.0        85      FALSO      sim
5  chuva     68.0        80      FALSO      sim
6  chuva     65.0        70      VERDADEIRO nao
7  sol       64.0        65      VERDADEIRO sim
8  sol       73.5        95      FALSO      nao
9  sol       69.0        70      FALSO      sim
10 chuva     75.0        85      FALSO      sim
11 sol       75.0        70      VERDADEIRO sim
12 nublado   72.0        90      VERDADEIRO sim
13 nublado   81.0        75      FALSO      sim
14 chuva     71.0        91      VERDADEIRO nao

In [76]:
unique(data_frame$Jogar)
summary(data_frame$Jogar)
data_frame[is.na(data_frame$Jogar), ]

[1] nao sim
Levels: nao sim

nao sim
  5   9

     Aparencia Temperatura Umidade Vento Jogar