In [12]:
# install.packages("sampling")
library(sampling)

In [13]:
proporcao <- 25

In [14]:
# Srswor - Simple Random Sampling Without Replacement

# amostra_iris <- strata(iris, stratanames = c("Species"), size = c(25, 25, 25), method = "srswor")
amostra_iris <- strata(iris, stratanames = c("Species"), size = c(rep(proporcao, 3)), method = "srswor")

summary(amostra_iris)

       Species      ID_unit            Prob        Stratum
 setosa    :25   Min.   :  1.00   Min.   :0.5   Min.   :1
 versicolor:25   1st Qu.: 40.50   1st Qu.:0.5   1st Qu.:1
 virginica :25   Median : 82.00   Median :0.5   Median :2
                 Mean   : 75.97   Mean   :0.5   Mean   :2
                 3rd Qu.:113.00   3rd Qu.:0.5   3rd Qu.:3
                 Max.   :150.00   Max.   :0.5   Max.   :3

In [15]:
head(infert, 15)

   education age parity induced case spontaneous stratum pooled.stratum
1  0-5yrs    26  6      1       1    2            1       3
2  0-5yrs    42  1      1       1    0            2       1
3  0-5yrs    39  6      2       1    0            3       4
4  0-5yrs    34  4      2       1    0            4       2
5  6-11yrs   35  3      1       1    1            5      32
6  6-11yrs   36  4      2       1    1            6      36
7  6-11yrs   23  1      0       1    0            7       6
8  6-11yrs   32  2      0       1    0            8      22
9  6-11yrs   21  1      0       1    1            9       5
10 6-11yrs   28  2      0       1    0           10      19
11 6-11yrs   29  2      1       1    0           11      20
12 6-11yrs   37  4      2       1    1           12      37
13 6-11yrs   31  1      1       1    0           13       9
14 6-11yrs   29  3      2       1    0           14      29
15 6-11yrs   31  2      1       1    1           15      21

In [16]:
summary(infert)

   education        age            parity         induced
 0-5yrs : 12   Min.   :21.00   Min.   :1.000   Min.   :0.0000
 6-11yrs:120   1st Qu.:28.00   1st Qu.:1.000   1st Qu.:0.0000
 12+ yrs:116   Median :31.00   Median :2.000   Median :0.0000
               Mean   :31.50   Mean   :2.093   Mean   :0.5726
               3rd Qu.:35.25   3rd Qu.:3.000   3rd Qu.:1.0000
               Max.   :44.00   Max.   :6.000   Max.   :2.0000
      case         spontaneous        stratum      pooled.stratum
 Min.   :0.0000   Min.   :0.0000   Min.   : 1.00   Min.   : 1.00
 1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:21.00   1st Qu.:19.00
 Median :0.0000   Median :0.0000   Median :42.00   Median :36.00
 Mean   :0.3347   Mean   :0.5766   Mean   :41.87   Mean   :33.58
 3rd Qu.:1.0000   3rd Qu.:1.0000   3rd Qu.:62.25   3rd Qu.:48.25
 Max.   :1.0000   Max.   :2.0000   Max.   :83.00   Max.   :63.00

In [18]:
amostra_infert <- strata(infert, stratanames = c("education"), size = c(5, 48, 47), method = "srswor")

head(amostra_infert, 10)

    education ID_unit Prob      Stratum
1   0-5yrs      1     0.4166667 1
2   0-5yrs      2     0.4166667 1
4   0-5yrs      4     0.4166667 1
87  0-5yrs     87     0.4166667 1
169 0-5yrs    169     0.4166667 1
5   6-11yrs     5     0.4000000 2
8   6-11yrs     8     0.4000000 2
9   6-11yrs     9     0.4000000 2
13  6-11yrs    13     0.4000000 2
16  6-11yrs    16     0.4000000 2

In [19]:
summary(amostra_infert)

   education     ID_unit            Prob           Stratum
 0-5yrs : 5   Min.   :  1.00   Min.   :0.4000   Min.   :1.00
 6-11yrs:48   1st Qu.: 58.75   1st Qu.:0.4000   1st Qu.:2.00
 12+ yrs:47   Median :111.00   Median :0.4052   Median :2.00
              Mean   :118.39   Mean   :0.4033   Mean   :2.42
              3rd Qu.:180.25   3rd Qu.:0.4052   3rd Qu.:3.00
              Max.   :247.00   Max.   :0.4167   Max.   :3.00