In [7]:
# install.packages("TeachingSampling")
library(TeachingSampling)

In [11]:
amostra <- S.SY(150, 10)
amostra

      [,1]
 [1,]   9
 [2,]  19
 [3,]  29
 [4,]  39
 [5,]  49
 [6,]  59
 [7,]  69
 [8,]  79
 [9,]  89
[10,]  99
[11,] 109
[12,] 119
[13,] 129
[14,] 139
[15,] 149

In [12]:
dim(amostra)

[1] 15  1

In [13]:
amostra_iris <- iris[amostra, ]

head(amostra_iris)

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
9  4.4          2.9         1.4          0.2         setosa
19 5.7          3.8         1.7          0.3         setosa
29 5.2          3.4         1.4          0.2         setosa
39 4.4          3.0         1.3          0.2         setosa
49 5.3          3.7         1.5          0.2         setosa
59 6.6          2.9         4.6          1.3         versicolor

In [14]:
dim(amostra_iris)

[1] 15  5