Hello

In [2]:
print("Hello, World!")

[1] "Hello, World!"

In [6]:
longley$Employed

 [1] 60.323 61.122 60.171 61.187 63.221 63.639 64.989 63.761 66.019 67.857
[11] 68.169 66.513 68.655 69.564 69.331 70.551

In [7]:
longley["Employed"]

     Employed
1947 60.323
1948 61.122
1949 60.171
1950 61.187
1951 63.221
1952 63.639
1953 64.989
1954 63.761
1955 66.019
1956 67.857
1957 68.169
1958 66.513
1959 68.655
1960 69.564
1961 69.331
1962 70.551