In [8]:
import pandas as pd
import numpy as np

from imblearn.over_sampling import SMOTENC

In [9]:
credit = pd.read_csv("../data/Credit3.csv", sep=";")

credit.head()

,ID,checking_status,credit_history,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents,class
0,1,<0,critical/other existing credit,6,1169,4,4,67,2,1,1
1,2,0<=X<200,existing paid,48,5951,2,2,22,1,1,0
2,3,no checking,critical/other existing credit,12,2096,2,3,49,1,2,1
3,4,<0,existing paid,42,7882,2,4,45,1,2,1
4,5,<0,delayed previously,24,4870,3,4,53,2,2,0

In [10]:
X = credit.iloc[:, 1:10].values
y = credit.iloc[:, 10].values

X

array([['<0', 'critical/other existing credit', 6, ..., 67, 2, 1],
       ['0<=X<200', 'existing paid', 48, ..., 22, 1, 1],
       ['no checking', 'critical/other existing credit', 12, ..., 49, 1,
        2],
       ...,
       ['no checking', 'existing paid', 12, ..., 38, 1, 1],
       ['<0', 'existing paid', 45, ..., 23, 1, 1],
       ['0<=X<200', 'critical/other existing credit', 45, ..., 27, 1, 1]],
      dtype=object)

In [11]:
np.bincount(y)

array([300, 700])

In [12]:
sm = SMOTENC(random_state=42, categorical_features=[0, 1])

X_res, y_res = sm.fit_resample(X, y)

In [13]:
np.bincount(y_res)

array([700, 700])